:root {
    margin: 25px;
    --hex-side: 100px;
    --hex-rotate: 30deg;
}

.hexagon {
    width: calc(var(--hex-side) * 1.732);
    height: var(--hex-side);
    background: linear-gradient(92.34deg, #64D4ED 5.54%, #EA78FD 101.3%);
    position: relative;
    transform: rotate(var(--hex-rotate));
    margin: 0 auto;
}

.hexagon:before,
.hexagon:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(92.34deg, #64D4ED 5.54%, #EA78FD 101.3%);
    top: 0;
    left: 0;
}

.hexagon:before {
    transform: rotate(60deg);
}

.hexagon:after {
    transform: rotate(-60deg);
}